/* -------------------------------------------------------------------------------- /
	
	FLEX STYLE - v1.4
	
	You can add custom notes to code. CSS comments will be removed from the generated output.

	[info] Sometimes you should use "!important" css suffix to take the changes effect 
		   when setting a value of a CSS property (e.g. font-size: 11px !important);.
	
	TABLE OF CONTENT

	[0] SETUP & COMMON STYLES
	[1] POST FILTER CATEGORIES & SLIDER ARROWS
	[2] POST WRAPPER
	[3] MEDIA WRAP & POST OVERLAY
	[4] POST CONTENT
	[4.1] POST CONTENT - TITLE
	[4.2] POST CONTENT - META
	[4.3] POST CONTENT - EXCERPT
	[4.4] POST CONTENT - BUTTON
	[4.5] POST CONTENT - OTHER	
	[5] WOOCOMMERCE STYLES
	[6] EFFECTS	
	
/ -------------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------------- /

	[0] SETUP & COMMON STYLES
	
	[info] The portfolio filter categories filter "buttons".
	[tip] You can set e.g. border radius, colors, etc here.
	
/ -------------------------------------------------------------------------------- */

	/* Button style */
	.my-pf-style-flex a.my-pf-btn {
		color:((main_color_3));
		background:((highlight_color));
		-moz-border-radius:((border_radius_2))px;
		-webkit-border-radius:((border_radius_2))px;
		border-radius:((border_radius_2))px;
		display:inline-block;
		font-family:((font_family_m));
		font-size:((font_size_m))px;
		height:29px;	
		line-height:29px;	
		padding:0 9px;
		position:relative;
		text-align:left;
		-moz-transition:color 0.08s ease-in-out, background-color 0.08s ease-in-out, border-color 0.08s ease-in-out;
		-ms-transition:color 0.08s ease-in-out, background-color 0.08s ease-in-out, border-color 0.08s ease-in-out;
		-o-transition:color 0.08s ease-in-out, background-color 0.08s ease-in-out, border-color 0.08s ease-in-out;
		-webkit-transition:color 0.08s ease-in-out, background-color 0.08s ease-in-out, border-color 0.08s ease-in-out;
		transition:color 0.08s ease-in-out, background-color 0.08s ease-in-out, border-color 0.08s ease-in-out;
		text-decoration:none !important;		
	}
	
	.my-pf-style-flex a.my-pf-btn.my-pf-btn-outlined {
		color:((highlight_color));
		background:transparent;
		border:solid 1px ((highlight_color));
		height:27px;	
		line-height:27px;	
		padding:0 8px;
	}	
	
	/* Hover (mouse over) state of button */
	.my-pf-style-flex a.my-pf-btn:hover {
		color:((main_color_3));
		background:((main_color_1));
	}
	
	.my-pf-style-flex a.my-pf-btn.my-pf-btn-outlined:hover {
		color:((main_color_1));
		background:transparent;
		border-color:((main_color_1));
	}	

	/* Circle style */
	.my-pf-style-flex a.my-pf-circle {
		-moz-border-radius:((border_radius_3))px;
		-webkit-border-radius:((border_radius_3))px;
		border-radius:((border_radius_3))px;
		display:inline-block;
		height:44px;
		line-height:44px;
		position: relative;
		margin-left:3px;
		margin-right:3px;		
		-moz-transition:color 0.08s ease-in-out, background-color 0.08s ease-in-out, border-color 0.08s ease-in-out;
		-ms-transition:color 0.08s ease-in-out, background-color 0.08s ease-in-out, border-color 0.08s ease-in-out;
		-o-transition:color 0.08s ease-in-out, background-color 0.08s ease-in-out, border-color 0.08s ease-in-out;
		-webkit-transition:color 0.08s ease-in-out, background-color 0.08s ease-in-out, border-color 0.08s ease-in-out;
		transition:color 0.08s ease-in-out, background-color 0.08s ease-in-out, border-color 0.08s ease-in-out;
		width:44px;
	}


/* -------------------------------------------------------------------------------- /

	[1] POST FILTER CATEGORIES & SLIDER ARROWS
	
	[info] The portfolio filter categories filter "buttons".
	[tip] You can set e.g. border radius, colors, etc here.
	
/ -------------------------------------------------------------------------------- */

	/* Filter categories (buttons) */
	.my-pf-style-flex .my-pf-cats > span a {
		background:((main_color_1));
		-moz-border-radius:((border_radius_2))px;
		-webkit-border-radius:((border_radius_2))px;	
		border-radius:((border_radius_2))px;	
		color:((main_color_3));
		display:block;
		font-family:((font_family_m));
		font-size:((font_size_m))px;	
		height:29px;
		line-height:29px;
		padding:0 10px;
		text-decoration:none;
		-moz-transition:color 0.08s ease-in-out, background-color 0.08s ease-in-out, border-color 0.08s ease-in-out;
		-ms-transition:color 0.08s ease-in-out, background-color 0.08s ease-in-out, border-color 0.08s ease-in-out;
		-o-transition:color 0.08s ease-in-out, background-color 0.08s ease-in-out, border-color 0.08s ease-in-out;
		-webkit-transition:color 0.08s ease-in-out, background-color 0.08s ease-in-out, border-color 0.08s ease-in-out;
		transition:color 0.08s ease-in-out, background-color 0.08s ease-in-out, border-color 0.08s ease-in-out;			
	}
	
	.my-pf-style-flex .my-pf-cats > span a.my-pf-btn-outlined {
		color:((main_color_1));
		background:transparent;
		border:solid 1px ((main_color_1));
		height:27px;	
		line-height:27px;	
		padding:0 8px;
	}	
	
	/* Filter categories (buttons) - selected element */	
	.my-pf-style-flex .my-pf-cats > span.my-pf-current a { 
		background:((highlight_color));
	}
	
	.my-pf-style-flex .my-pf-cats > span.my-pf-current a.my-pf-btn-outlined  { 
		background:transparent;	
		border-color:((highlight_color));
		color:((highlight_color));
	}	
	
	/* Filter categories (buttons) - hovered element */
	.my-pf-style-flex .my-pf-cats > span a:hover { 
		background:((main_color_2));
	}
	
	.my-pf-style-flex .my-pf-cats > span a.my-pf-btn-outlined:hover { 
		background:transparent;
		border-color:((main_color_2));			
		color:((main_color_2));
	}		

	/* Arrows (buttons) */
	.my-pf-style-flex .my-pf-slider-controls > div a {
		background:((highlight_color));
		-moz-border-radius:((border_radius_2))px;
		-webkit-border-radius:((border_radius_2))px;	
		border-radius:((border_radius_2))px;	
		color:((main_color_3));
		display:table-cell;
		height:29px;
		text-decoration:none;
		-moz-transition:color 0.08s ease-in-out, background-color 0.08s ease-in-out, border-color 0.08s ease-in-out;
		-ms-transition:color 0.08s ease-in-out, background-color 0.08s ease-in-out, border-color 0.08s ease-in-out;
		-o-transition:color 0.08s ease-in-out, background-color 0.08s ease-in-out, border-color 0.08s ease-in-out;
		-webkit-transition:color 0.08s ease-in-out, background-color 0.08s ease-in-out, border-color 0.08s ease-in-out;
		transition:color 0.08s ease-in-out, background-color 0.08s ease-in-out, border-color 0.08s ease-in-out;
		vertical-align:middle;		
		width:28px;
	}

	/* Arrows (buttons) - hovered element */
	.my-pf-style-flex .my-pf-slider-controls > div a:hover {
		background:((main_color_1));
	}

	/* Arrows (buttons) - inactive */
	.my-pf-style-flex .my-pf-slider-controls > div a.disabled {
		background:((main_color_1));
	}
	
	/* Pagination - Load more (button) */
	.my-pf-style-flex a.my-pf-pagination-load-more {
		background:((main_color_1));
		-moz-border-radius:((border_radius_2))px;
		-webkit-border-radius:((border_radius_2))px;	
		border-radius:((border_radius_2))px;	
		color:((main_color_3));
		display:inline-block;
		font-family:((font_family_m));
		font-size:((font_size_m))px;	
		height:29px;
		line-height:29px;
		padding:0 10px;
		text-decoration:none;
		-moz-transition:all 0.08s ease-in-out;
		-ms-transition:all 0.08s ease-in-out;
		-o-transition:all 0.08s ease-in-out;
		-webkit-transition:all 0.08s ease-in-out;
		transition:all 0.08s ease-in-out;	
	}
	
	/* Pagination - Load more (outlined button) */
	.my-pf-style-flex a.my-pf-pagination-load-more.my-pf-btn-outlined {
		color:((main_color_1));
		background:transparent;
		border:solid 1px ((main_color_1));
		height:27px;	
		line-height:27px;	
		padding:0 8px;
	}
	
	/* Pagination - Load more (button) - hovered */
	.my-pf-style-flex a.my-pf-pagination-load-more:hover { 
		background:((main_color_2));
	}
	
	/* Pagination - Load more (outlined button) - hovered */
	.my-pf-style-flex a.my-pf-pagination-load-more.my-pf-btn-outlined:hover { 
		background:transparent;
		border-color:((main_color_2));			
		color:((main_color_2));
	}	
	
/* -------------------------------------------------------------------------------- /
	
	[2] POST WRAPPER
	
	[info] The whole post container, including the media and content.
	[tip] You can set e.g. border radius or box shadow here for the the whole post.

/ -------------------------------------------------------------------------------- */


	.my-pf-style-flex .my-pf-post {
		-moz-border-radius:((border_radius_1))px;
		-webkit-border-radius:((border_radius_1))px;
		border-radius:((border_radius_1))px;
		-moz-box-shadow:0 0 ((box_shadow_blur))px ((box_shadow_spread))px rgba(0,0,0,((box_shadow_opacity)));		
		-o-box-shadow:0 0 ((box_shadow_blur))px ((box_shadow_spread))px rgba(0,0,0,((box_shadow_opacity)));
		-webkit-box-shadow:0 0 ((box_shadow_blur))px ((box_shadow_spread))px rgba(0,0,0,((box_shadow_opacity)));
		box-shadow:0 0 ((box_shadow_blur))px ((box_shadow_spread))px rgba(0,0,0,((box_shadow_opacity)));		
		overflow:hidden;
	}

/* -------------------------------------------------------------------------------- /
	
	[3] MEDIA WRAP & POST OVERLAY
	
	[info] The whole post overlay with its content.
	[tip] You can set e.g. overlay circles and buttons.

/ -------------------------------------------------------------------------------- */

	.my-pf-post-media-wrap {	
		-webkit-border-radius:((border_radius_1))px;
	}
	.my-pf-chrome.my-pf-style-flex .my-pf-post-media-wrap{ 
		-webkit-border-radius:0;
	}		

	.my-pf-style-flex .my-pf-post-overlay {
		height:100%;
	}

	/* Overlay button - circle style - normal state */
	.my-pf-style-flex a.my-pf-post-overlay-circle { 
		background:((highlight_color));
	}	
	
	/* Overlay button - circle style - hover state */
	.my-pf-style-flex a.my-pf-post-overlay-circle:hover { 
		background:((main_color_1));
	}	
	
	/* Overlay button - button style - normal state */
	.my-pf-style-flex a.my-pf-post-overlay-btn {
		background:((highlight_color));
		margin-left:3px;
		margin-right:3px;
	}	
	
	.my-pf-style-flex a.my-pf-post-overlay-btn.my-pf-btn-outlined  {
		background:transparent;
		border-color:((highlight_color));
		color:((highlight_color));
	}	
	
	/* Overlay button - button style - hover state */
	.my-pf-style-flex a.my-pf-post-overlay-btn:hover {
		background:((main_color_1));
	}
	
	.my-pf-style-flex a.my-pf-post-overlay-btn.my-pf-btn-outlined:hover {
		background:transparent;
		border-color:((main_color_1));
		color:((main_color_1));
	}	
	

/* -------------------------------------------------------------------------------- /

	[4] POST CONTENT
	
	[info] Includes the title, post meta data (e.g. date), the excerpt and read more button or link.
	[tip] You can set e.g. padding, etc here.
	
/ -------------------------------------------------------------------------------- */

	.my-pf-style-flex .my-pf-post-content-wrap {
		position:absolute;	
		width:100%;
		-moz-transition:all 0.3s ease-in-out;
		-ms-transition:all 0.3s ease-in-out;
		-o-transition:all 0.3s ease-in-out;
		-webkit-transition:all 0.3s ease-in-out;
		transition:all 0.3s ease-in-out;		
		z-index:1;
	}
	
	.my-pf-style-flex .my-pf-post-content-wrap:before { 
		background-color:((post_content_color));
		opacity:((post_opacity));
	}
	
	.my-pf-style-flex .my-pf-post-content { 		
		color:((main_color_1));		
		font-family:((font_family_m));
		font-size:((font_size_m))px;
		line-height:((line_height_m))px;	
		padding:((post_padding))px;
	}
	
	/* General link style */
	.my-pf-style-flex .my-pf-post-content a {
		color:((highlight_color));
	}
	
	.my-pf-style-flex .my-pf-post-content a:hover {
		color:((main_color_1));	
	}	


/* -------------------------------------------------------------------------------- /

	[4.1] POST CONTENT - TITLE
	
	[info] The post title.
	
/ -------------------------------------------------------------------------------- */

	/* The title */
	.my-pf-style-flex .my-pf-post-content h2 {
		color:((main_color_1)) !important;
		font-family:((font_family_l)) !important;
		font-size:((font_size_l))px !important;
		line-height:((line_height_l))px !important;
	}
	
	/* The link inside the title  */
	.my-pf-style-flex .my-pf-post-content h2 a { 
		color:inherit;
		font-size:inherit !important;
		line-height:inherit !important;
	}
	
	/* Hover state - The link inside the title  */
	.my-pf-style-flex .my-pf-post-content h2 a:hover { color:((highlight_color)); }	
	

/* -------------------------------------------------------------------------------- /

	[4.2] POST CONTENT - META
	
	[info] The post meta data e.g. post date.
	
/ -------------------------------------------------------------------------------- */

	.my-pf-style-flex .my-pf-post-meta {
		color:((main_color_2));
		font-family:((font_family_s));
		font-size:((font_size_s))px;	
		line-height:((line_height_s))px;
	}

/* -------------------------------------------------------------------------------- /

	[4.3] POST CONTENT - EXCERPT
	
	[info] The post excerpt.
	
/ -------------------------------------------------------------------------------- */

	.my-pf-style-flex .my-pf-post-excerpt { 
		font-family:((font_family_m));
		font-size:((font_size_m))px;
		line-height:((line_height_m))px !important;		
		margin-top:15px
	}
	
	.my-pf-style-flex .my-pf-post-excerpt p {
		font-family:((font_family_m));
		font-size:((font_size_m))px;
		line-height:((line_height_m))px !important;
		margin:0 0 15px !important;
		padding:0 !important;	
	}
	
	.my-pf-style-flex .my-pf-post-excerpt p:last-child { 
		margin:0 !important;
		padding:0 !important;
	}
	

/* -------------------------------------------------------------------------------- /

	[4.4] POST CONTENT - BUTTON
	
	[info] The read more button or link
	
/ -------------------------------------------------------------------------------- */

	.my-pf-style-flex .my-pf-post-more { margin-top:15px; }
	
	/* Link style - without classname */
	.my-pf-style-flex .my-pf-post-more a {
		color:((highlight_color));
		font-size:((font_size_m))px;
		margin-top:15px;
		font-weight:bold;		
	}
	
	/* Hover (mouse over) state of link */
	.my-pf-style-flex .my-pf-post-more a:hover { color:((main_color_1)); }
	
	/* Button style - with "my-pf-btn" classname */
	.my-pf-style-flex .my-pf-post-more a.my-pf-btn {
		color:((main_color_3));
		font-weight:normal;
		margin-top:-3px;
	}
	
	.my-pf-style-flex .my-pf-post-more a.my-pf-btn.my-pf-btn-outlined { color:((main_color_1)); }
	
	.my-pf-style-flex .my-pf-post-more a.my-pf-btn.my-pf-btn-outlined:hover { color:((highlight_color)); }		
	
	/* Space between buttons */
	.my-pf-style-flex .my-pf-post-more a.my-pf-btn { margin-left:10px }
	.my-pf-style-flex .my-pf-post-more a.my-pf-btn:first-child { margin-left:0; }			


/* -------------------------------------------------------------------------------- /

	[4.5] POST CONTENT - OTHER
	
	[info] Highlight box, etc.
	
/ -------------------------------------------------------------------------------- */

	.my-pf-style-flex .my-pf-post-content > *:first-child { margin-top:0 !important; }

	/* Highlight box */
	.my-pf-style-flex div.my-pf-post-highlight-box, .my-pf-style-flex div.my-pf-post-highlight-box:first-child	{
		background:((highlight_color));
		padding:((post_padding))px;	
		margin:-((post_padding))px -((post_padding))px ((post_padding))px !important;
	}

	/* Highlight box content */	
	.my-pf-style-flex .my-pf-post-highlight-box * { 
		color:((main_color_3)) !important;
	}

	.my-pf-style-flex .my-pf-post-highlight-box a:hover { 
		color:((main_color_1)) !important;
	}
	

/* -------------------------------------------------------------------------------- /

	[5] WOOCOMMERCE STYLES
		
/ -------------------------------------------------------------------------------- */	

	/* Sale circle */
	.my-pf-style-flex .my-pf-woo-sale,
	.my-pf-touch.my-pf-style-flex .my-pf-post:hover .my-pf-woo-sale {	
		background:((highlight_color));
		-moz-border-radius:22px;
		-webkit-border-radius:22px;
		border-radius:22px;
		color:((main_color_3));
		display:inline-block;
		font-size:((font_size_m))px;
		height:44px;
		line-height:44px;
		position:absolute;		
		right:10px;
		text-align:center;
		top:10px;
		-moz-transition:opacity 0.1s ease-in-out;
		-ms-transition:opacity 0.1s ease-in-out;
		-o-transition:opacity 0.1s ease-in-out;
		-webkit-transition:opacity 0.1s ease-in-out;
		transition:opacity 0.1s ease-in-out;		
		width:44px;
		z-index:5;			
	}

	.my-pf-style-flex .my-pf-post:hover .my-pf-woo-sale,
	.my-pf-touch.my-pf-style-flex .my-pf-current.my-pf-post .my-pf-woo-sale {  
		filter:alpha(opacity=50); /* IE 5-7 */
		-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; /* IE 8 */
		-khtml-opacity:0.5; /* Safari 1.x */
		-moz-opacity:0.5; /* Netscape */
		opacity:0.5;
	}	
	
	/* Price general */
	.my-pf-style-flex .my-pf-post-woo-price {
		color:((highlight_color));
		font-size:((font_size_xl))px;
		font-weight:bold;				
		line-height:((line_height_xl))px;	
		margin-top:15px;
	}

	/* Sale price */
	.my-pf-style-flex .my-pf-post-woo-price del {
		background:none;
		color:((main_color_4));
		font-size:((font_size_l))px;
		line-height:((line_height_l))px;	
		margin-right:5px;
		text-decoration:line-through;
	}
	
	/* Old price */
	.my-pf-style-flex .my-pf-post-woo-price ins { 
		background:none;
		text-decoration:none !important;
	}
	
/* -------------------------------------------------------------------------------- /

	[5] EFFECTS
		
/ -------------------------------------------------------------------------------- */
 
	/* No Effect - only overlay */
	.my-pf-style-flex-no-effect .my-pf-post-overlay-bg {
		-moz-border-radius:((border_radius_1))px;
		-webkit-border-radius:((border_radius_1))px;		
		border-radius:((border_radius_1))px;
	}	

	/* Slide Up */ 
	.my-pf-style-flex-slide-up .my-pf-post-content-wrap {
		top:100%;
	}
	
	.my-pf-style-flex-slide-up .my-pf-post-overlay-bg {
		-moz-border-radius-topleft:((border_radius_1))px;
		-moz-border-radius-topright:((border_radius_1))px;
		-webkit-border-top-left-radius:((border_radius_1))px;
		-webkit-border-top-right-radius:((border_radius_1))px;		
		border-top-left-radius:((border_radius_1))px;
		border-top-right-radius:((border_radius_1))px;		
	}
	
	.my-pf-style-flex-slide-up .my-pf-post-content-wrap:before { 
		-moz-border-radius-bottomleft:((border_radius_1))px;
		-moz-border-radius-bottomright:((border_radius_1))px;
		-webkit-border-bottom-left-radius:((border_radius_1))px;
		-webkit-border-bottom-right-radius:((border_radius_1))px;		
		border-bottom-left-radius:((border_radius_1))px;
		border-bottom-right-radius:((border_radius_1))px;		
	}
	
	/* Slide Up Full */
	.my-pf-style-flex-slide-up-full .my-pf-post-content-wrap:before { 
		-webkit-border-radius:((border_radius_1))px;		
	}
	
	.my-pf-chrome.my-pf-style-flex-slide-up-full .my-pf-post-content-wrap:before { 
		-webkit-border-radius:0;
	}
		 
	.my-pf-style-flex-slide-up-full .my-pf-post-content-wrap,
	.my-pf-touch.my-pf-style-flex-slide-up-full .my-pf-post:hover .my-pf-post-content-wrap {
		top:100%;
		height:100%;
	}
	
	.my-pf-style-flex-slide-up-full .my-pf-post:hover .my-pf-post-content-wrap,
	.my-pf-touch.my-pf-style-flex-slide-up-full .my-pf-current.my-pf-post .my-pf-post-content-wrap { 	
		top:0;
	}
	
	.my-pf-style-flex-slide-up-full .my-pf-post-overlay {
		display:none;
	}
	
	/* Slide & Push Up */
	.my-pf-style-flex-slide-push-up .my-pf-post-overlay-bg {
		-moz-border-radius-topleft:((border_radius_1))px;
		-moz-border-radius-topright:((border_radius_1))px;
		-webkit-border-top-left-radius:((border_radius_1))px;
		-webkit-border-top-right-radius:((border_radius_1))px;		
		border-top-left-radius:((border_radius_1))px;
		border-top-right-radius:((border_radius_1))px;		
	}
	
	.my-pf-style-flex-slide-push-up .my-pf-post-content-wrap:before { 
		-moz-border-radius-bottomleft:((border_radius_1))px;
		-moz-border-radius-bottomright:((border_radius_1))px;
		-webkit-border-bottom-left-radius:((border_radius_1))px;
		-webkit-border-bottom-right-radius:((border_radius_1))px;		
		border-bottom-left-radius:((border_radius_1))px;
		border-bottom-right-radius:((border_radius_1))px;		
	}
		 
	.my-pf-style-flex-slide-push-up .my-pf-post-content-wrap {
		top:100%;
	}
	
	.my-pf-style-flex-slide-push-up .my-pf-post-overlay {
		top:0;
	}
	
	.my-pf-style-flex-slide-push-up .my-pf-post-header {
		bottom:-100%;
		height:100%;
		-moz-transition:height 0.3s ease-in-out, margin 0.3s ease-in-out;
		-ms-transition:height 0.3s ease-in-out, margin 0.3s ease-in-out;
		-o-transition:height 0.3s ease-in-out, margin 0.3s ease-in-out;
		-webkit-transition:height 0.3s ease-in-out, margin 0.3s ease-in-out;
		transition:height 0.3s ease-in-out, margin 0.3s ease-in-out;
	}
	
	.my-pf-style-flex-slide-push-up .my-pf-post-overlay-bg {
		-moz-border-radius-topleft:((border_radius_1))px;
		-moz-border-radius-topright:((border_radius_1))px;
		-webkit-border-top-left-radius:((border_radius_1))px;
		-webkit-border-top-right-radius:((border_radius_1))px;		
		border-top-left-radius:((border_radius_1))px;
		border-top-right-radius:((border_radius_1))px;		
	}			
	
	/* Slide & Push Up Full */ 
	.my-pf-style-flex-slide-push-up-full .my-pf-post-content-wrap:before { 
		-webkit-border-radius:((border_radius_1))px;		
	}
	
	.my-pf-chrome.my-pf-style-flex-slide-push-up-full .my-pf-post-content-wrap:before { 
		-webkit-border-radius:0;
	}
	
	.my-pf-style-flex-slide-push-up-full .my-pf-post-content-wrap,
	.my-pf-touch.my-pf-style-flex-slide-push-up-full .my-pf-post:hover .my-pf-post-content-wrap {		
		top:100%;
		height:100%;
	}
	
	.my-pf-style-flex-slide-push-up-full .my-pf-post:hover .my-pf-post-content-wrap,
	.my-pf-touch.my-pf-style-flex-slide-push-up-full .my-pf-current.my-pf-post .my-pf-post-content-wrap {	
		top:0;
	}	
	
	.my-pf-style-flex-slide-push-up-full .my-pf-post-header {
		bottom:-100%;
		height:100%;
		-moz-transition:height 0.3s ease-in-out, margin 0.3s ease-in-out;
		-ms-transition:height 0.3s ease-in-out, margin 0.3s ease-in-out;
		-o-transition:height 0.3s ease-in-out, margin 0.3s ease-in-out;
		-webkit-transition:height 0.3s ease-in-out, margin 0.3s ease-in-out;
		transition:height 0.3s ease-in-out, margin 0.3s ease-in-out;
	}	
	
	.my-pf-style-flex-slide-push-up-full .my-pf-post-overlay {
		display:none;
	}	
	
	/* Slide Down */ 
	.my-pf-style-flex-slide-down .my-pf-post-overlay-bg {
		-moz-border-radius-bottomleft:((border_radius_1))px;
		-moz-border-radius-bottomright:((border_radius_1))px;
		-webkit-border-bottom-left-radius:((border_radius_1))px;
		-webkit-border-bottom-right-radius:((border_radius_1))px;		
		border-bottom-left-radius:((border_radius_1))px;
		border-bottom-right-radius:((border_radius_1))px;		
	}
	
	.my-pf-style-flex-slide-down .my-pf-post-content-wrap:before { 
		-moz-border-radius-topleft:((border_radius_1))px;
		-moz-border-radius-topright:((border_radius_1))px;
		-webkit-border-top-left-radius:((border_radius_1))px;
		-webkit-border-top-right-radius:((border_radius_1))px;		
		border-top-left-radius:((border_radius_1))px;
		border-top-right-radius:((border_radius_1))px;		
	}
		
	.my-pf-style-flex-slide-down .my-pf-post-content-wrap {
		bottom:100%;
	}
	
	.my-pf-style-flex-slide-down .my-pf-post-overlay {
		bottom:0 !important;
	}
	
	.my-pf-style-flex-slide-down .my-pf-post-overlay-bg {
		-moz-border-radius-bottomleft:((border_radius_1))px;
		-moz-border-radius-bottomright:((border_radius_1))px;
		-webkit-border-bottom-left-radius:((border_radius_1))px;
		-webkit-border-bottom-right-radius:((border_radius_1))px;		
		border-bottom-left-radius:((border_radius_1))px;
		border-bottom-right-radius:((border_radius_1))px;		
	}	
	
	/* Slide Down Full */ 
	.my-pf-style-flex-slide-down-full .my-pf-post-content-wrap:before { 
		-webkit-border-radius:((border_radius_1))px;		
	}
	
	.my-pf-chrome.my-pf-style-flex-slide-down-full .my-pf-post-content-wrap:before { 
		-webkit-border-radius:0;
	}
	
	.my-pf-style-flex-slide-down-full .my-pf-post-content-wrap,
	.my-pf-touch.my-pf-style-flex-slide-down-full .my-pf-post:hover .my-pf-post-content-wrap {	
		bottom:100%;
		height:100%;
	}	

	.my-pf-style-flex-slide-down-full .my-pf-post:hover .my-pf-post-content-wrap,
	.my-pf-touch.my-pf-style-flex-slide-down-full .my-pf-current.my-pf-post .my-pf-post-content-wrap {	
		bottom:0;
	}
	
	.my-pf-style-flex-slide-down-full .my-pf-post-overlay {
		display:none;
	}
	
	/* Slide & Push Down */
	.my-pf-style-flex-slide-push-down .my-pf-post-overlay-bg {
		-moz-border-radius-bottomleft:((border_radius_1))px;
		-moz-border-radius-bottomright:((border_radius_1))px;
		-webkit-border-bottom-left-radius:((border_radius_1))px;
		-webkit-border-bottom-right-radius:((border_radius_1))px;		
		border-bottom-left-radius:((border_radius_1))px;
		border-bottom-right-radius:((border_radius_1))px;		
	}
	
	.my-pf-style-flex-slide-push-down .my-pf-post-content-wrap:before { 
		-moz-border-radius-topleft:((border_radius_1))px;
		-moz-border-radius-topright:((border_radius_1))px;
		-webkit-border-top-left-radius:((border_radius_1))px;
		-webkit-border-top-right-radius:((border_radius_1))px;		
		border-top-left-radius:((border_radius_1))px;
		border-top-right-radius:((border_radius_1))px;		
	}
		
	.my-pf-style-flex-slide-push-down .my-pf-post-content-wrap {
		bottom:100%;
	}
	.my-pf-style-flex-slide-push-down .my-pf-post-header {
		top:-100%;
		height:100%;
		-moz-transition:height 0.3s ease-in-out, margin 0.3s ease-in-out;
		-ms-transition:height 0.3s ease-in-out, margin 0.3s ease-in-out;
		-o-transition:height 0.3s ease-in-out, margin 0.3s ease-in-out;
		-webkit-transition:height 0.3s ease-in-out, margin 0.3s ease-in-out;
		transition:height 0.3s ease-in-out, margin 0.3s ease-in-out;
	}
	
	.my-pf-style-flex-slide-push-down .my-pf-post-overlay-bg {
		-moz-border-radius-bottomleft:((border_radius_1))px;
		-moz-border-radius-bottomright:((border_radius_1))px;
		-webkit-border-bottom-left-radius:((border_radius_1))px;
		-webkit-border-bottom-right-radius:((border_radius_1))px;		
		border-bottom-left-radius:((border_radius_1))px;
		border-bottom-right-radius:((border_radius_1))px;		
	}		
	
	/* Slide & Push Down Full */ 
	.my-pf-style-flex-slide-push-down-full .my-pf-post-content-wrap:before { 
		-webkit-border-radius:((border_radius_1))px;		
	}
	
	.my-pf-chrome.my-pf-style-flex-slide-push-down-full .my-pf-post-content-wrap:before { 
		-webkit-border-radius:0;
	}

	.my-pf-style-flex-slide-push-down-full .my-pf-post-content-wrap,
	.my-pf-touch.my-pf-style-flex-slide-push-down-full .my-pf-post:hover .my-pf-post-content-wrap {	
		bottom:100%;
		height:100%;
	}
	.my-pf-style-flex-slide-push-down-full .my-pf-post:hover .my-pf-post-content-wrap,
	.my-pf-touch.my-pf-style-flex-slide-push-down-full .my-pf-current.my-pf-post .my-pf-post-content-wrap {		
		bottom:0;
	}	
	
	.my-pf-style-flex-slide-push-down-full .my-pf-post-header {
		top:-100%;
		height:100%;
		-moz-transition:height 0.3s ease-in-out, margin 0.3s ease-in-out;
		-ms-transition:height 0.3s ease-in-out, margin 0.3s ease-in-out;
		-o-transition:height 0.3s ease-in-out, margin 0.3s ease-in-out;
		-webkit-transition:height 0.3s ease-in-out, margin 0.3s ease-in-out;
		transition:height 0.3s ease-in-out, margin 0.3s ease-in-out;
	}		
	
	.my-pf-style-flex-slide-push-down-full .my-pf-post-overlay {
		display:none;
	}
	
	/* Slide Left Full */ 
	.my-pf-style-flex-slide-left-full .my-pf-post-content-wrap:before { 
		-webkit-border-radius:((border_radius_1))px;		
	}
	
	.my-pf-chrome.my-pf-style-flex-slide-left-full .my-pf-post-content-wrap:before { 
		-webkit-border-radius:0;
	}
		
	.my-pf-style-flex-slide-left-full .my-pf-post-content-wrap,
	.my-pf-touch.my-pf-style-flex-slide-left-full .my-pf-post:hover .my-pf-post-content-wrap {
		left:100%;
		height:100%;
		top:0;
	}
	
	.my-pf-style-flex-slide-left-full .my-pf-post:hover .my-pf-post-content-wrap,
	.my-pf-touch.my-pf-style-flex-slide-left-full .my-pf-current.my-pf-post .my-pf-post-content-wrap {		
		left:0;
	}
	
	.my-pf-style-flex-slide-left-full .my-pf-post-overlay {
		display:none;
	}
	
	/* Slide & Push Left Full */ 
	.my-pf-style-flex-slide-push-left-full .my-pf-post-content-wrap:before { 
		-webkit-border-radius:((border_radius_1))px;		
	}
	
	.my-pf-chrome.my-pf-style-flex-slide-push-left-full .my-pf-post-content-wrap:before { 
		-webkit-border-radius:0;
	}
		
	.my-pf-style-flex-slide-push-left-full .my-pf-post-content-wrap,
	.my-pf-touch.my-pf-style-flex-slide-push-left-full .my-pf-post:hover .my-pf-post-content-wrap {	
		left:100%;
		height:100%;
		top:0;
	}
	
	.my-pf-style-flex-slide-push-left-full .my-pf-post:hover .my-pf-post-content-wrap,
	.my-pf-touch.my-pf-style-flex-slide-push-left-full .my-pf-current.my-pf-post .my-pf-post-content-wrap {	
		left:0;
	}
	
	.my-pf-style-flex-slide-push-left-full .my-pf-post-overlay {
		display:none;
	}
	
	.my-pf-style-flex-slide-push-left-full .my-pf-post-header,
	.my-pf-touch.my-pf-style-flex-slide-push-left-full .my-pf-post:hover .my-pf-post-header {		
		height:100%;
		margin-left:0;
		margin-right:0;			
		-moz-transition:left 0.3s ease-in-out, margin 0.3s ease-in-out;
		-ms-transition:left 0.3s ease-in-out, margin 0.3s ease-in-out;
		-o-transition:left 0.3s ease-in-out, margin 0.3s ease-in-out;
		-webkit-transition:left 0.3s ease-in-out, margin 0.3s ease-in-out;
		transition:left 0.3s ease-in-out, margin 0.3s ease-in-out;
	}

	.my-pf-style-flex-slide-push-left-full .my-pf-post:hover .my-pf-post-header,
	.my-pf-touch.my-pf-style-flex-slide-push-left-full .my-pf-current.my-pf-post .my-pf-post-header {	
		margin-left:-100%;
		margin-right:100%;		
	}
	
	/* Slide Right Full */
	.my-pf-style-flex-slide-right-full .my-pf-post-content-wrap:before { 
		-webkit-border-radius:((border_radius_1))px;		
	}
	
	.my-pf-chrome.my-pf-style-flex-slide-right-full .my-pf-post-content-wrap:before { 
		-webkit-border-radius:0;
	}	
		 
	.my-pf-style-flex-slide-right-full .my-pf-post-content-wrap,
	.my-pf-touch.my-pf-style-flex-slide-right-full .my-pf-post:hover .my-pf-post-content-wrap {	
		left:-100%;
		height:100%;
		top:0;
	}
	
	.my-pf-style-flex-slide-right-full .my-pf-post:hover .my-pf-post-content-wrap,
	.my-pf-touch.my-pf-style-flex-slide-right-full .my-pf-current.my-pf-post .my-pf-post-content-wrap {		
		left:0;
	}
	
	.my-pf-style-flex-slide-right-full .my-pf-post-overlay {
		display:none;
	}
	
	/* Slide & Push Right Full */ 
	.my-pf-style-flex-slide-push-right-full .my-pf-post-content-wrap:before { 
		-webkit-border-radius:((border_radius_1))px;		
	}
	
	.my-pf-chrome.my-pf-style-flex-slide-push-right-full .my-pf-post-content-wrap:before { 
		-webkit-border-radius:0;
	}	
		
	.my-pf-style-flex-slide-push-right-full .my-pf-post-content-wrap,
	.my-pf-touch.my-pf-style-flex-slide-push-right-full .my-pf-post:hover .my-pf-post-content-wrap {	
		left:-100%;
		height:100%;
		top:0;
	}
	
	.my-pf-style-flex-slide-push-right-full .my-pf-post:hover .my-pf-post-content-wrap,
	.my-pf-touch.my-pf-style-flex-slide-push-right-full .my-pf-current.my-pf-post .my-pf-post-content-wrap {	
		left:0;
	}
	
	.my-pf-style-flex-slide-push-right-full .my-pf-post-overlay {
		display:none;
	}
	
	.my-pf-style-flex-slide-push-right-full .my-pf-post-header,
	.my-pf-touch.my-pf-style-flex-slide-push-right-full .my-pf-post:hover .my-pf-post-header {
		margin-left:0;
		margin-right:0;			
		height:100%;
		-moz-transition:left 0.3s ease-in-out, margin 0.3s ease-in-out;
		-ms-transition:left 0.3s ease-in-out, margin 0.3s ease-in-out;
		-o-transition:left 0.3s ease-in-out, margin 0.3s ease-in-out;
		-webkit-transition:left 0.3s ease-in-out, margin 0.3s ease-in-out;
		transition:left 0.3s ease-in-out, margin 0.3s ease-in-out;
	}

	.my-pf-style-flex-slide-push-right-full .my-pf-post:hover .my-pf-post-header,
	.my-pf-touch.my-pf-style-flex-slide-push-right-full .my-pf-current.my-pf-post .my-pf-post-header {	
		margin-left:100%;
		margin-right:-100%;		
	}